
* {
    margin: 0;
    padding: 0;
    background: #120B15;
    color:#F9F5FF;
    text-decoration: none;
}

.texth1 {
    font-family: lackregular;
    font-size: 7.5rem;
    font-weight: 400;
    line-height: 9rem;
    letter-spacing: 0em;
}

.texth1_5 {
    font-family: Lackregular;
    font-size: 5.125rem;
    font-weight: 400;
    line-height: 6.125rem;
    letter-spacing: 0em;
}

.texth2 {
    font-family: lackregular;
    font-size: 2.25rem;
    font-weight: 400;
    line-height: 2.6875rem;
    letter-spacing: 0em;
}

.textt1 {
    font-family: lackregular;
    font-size: 1.625rem;
    font-weight: 400;
    line-height: 1.9375rem;
    letter-spacing: 0em;
}

.textt2 {
    font-family: lackregular;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0em;
}

.textt3 {
    font-family: lackregular;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.1875rem;
    letter-spacing: 0em;
}

.violet{
    color: #9454FC;
}

.gray {
    color: #6F6B72;
}

.lightgray {
    color: #EAE5F1;
}

.wrapper{
    width: 86%;
    margin: 0 auto;
    padding: 15px 0 15px 0;
}

.flex {
    display: flex;
    flex-direction: row;
}

.flexbetween {
    display: flex;
    justify-content: space-between;
}

.flexcenter {
    display: flex;
    justify-content: center;
} 

.flexcolumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
} 

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
    text-align: center;
} 

.header {
    /* position:fixed; */
    text-align: center;
}

.header-nav--wrapper > *:first-child{
    padding: 1.4rem 0 1.4rem 3.6rem;
}

.header-nav--wrapper > * >*:not(:last-child){
    padding: 1.2rem 0 1.2rem 3.6rem;
    display: flex;
    align-items: center;
}


.header-nav--wrapper > * >button{
    padding: 1.4rem 2rem 1.4rem 2rem;
    margin: auto 0 auto 3.6rem;
    width: 16.25rem;
    height: 4.375rem;
    display: flex;
    align-items: center;
    background:#9454FC;
}

.header-nav--wrapper > * >button >p{
    margin: auto;
    background:#9454FC;
    text-align: center;
}

body {
    
}
.main {
}

.wrapper_main {
    width: calc(100% - 23.75rem);
    margin: 0 auto;
    display: block;
}

.lowertitle{
    margin-left: 33.75rem;
}
/* 
.main-wrapper--home >div{
    display: flex;
    flex-direction: column;
} */

.main-wrapper--home {
    /* width: calc(86%-23.75rem);
    margin:0 auto ; */
}

.main-wrapper--home---title >div:nth-of-type(2) {
    width: 26.625rem;
    height: 7.5rem;
    margin-top: -2.75rem;
    background-color: transparent;
}

.main-wrapper--home---title >div>* {
    background-color: transparent;
}
.main-wrapper--home >div >p:first-child{
    margin: 4.25rem 0 1.25rem 3.5rem ;
}

/* .main-wrapper--home >p:nth-of-type(2){
    width: 26.625rem;
    height: 7.5rem;
    position: relative;
    top: -2.75rem;
    left: 9.175rem;
} */

.button2 {
    padding: 1.4rem 2rem 1.4rem 2rem;
    margin: auto 0 auto 0;
    width: 16.25rem;
    height: 4.375rem;
    display: flex;
    align-items: center;
    background: #9454fc !important;;
    text-align: center;
}

.button2 >p {
    margin: auto;
    text-align: center;
    background: #9454fc !important;;
}


.main-wrapper--home---title----item3 {
    margin-top: 3.75rem;
}

.main-wrapper--home---title----item3 {
    margin-top: 3.75rem;
}

.main-wrapper--home---title----item3 >div>button:nth-child(2) {
    margin: 0 3.75rem;
}

.main-wrapper--home---title----item3 >div{
    margin-right: 3.5rem;
}
/* 
.main-wrapper--home---title----item3 >div>button{
    margin: auto;
} */

.main-wrapper--sections {
    margin-top: 20rem;
}

.main-wrapper--sections---services----wrapper > div{
    width: 31.875rem;
    height: 37.5rem;
    background: #F9F5FF;
}

.main-wrapper--sections---services----wrapper {
    /* row-gap: 2rem; */
}

.main-wrapper--sections---services----wrapper{
    margin-top: 3.75rem;
    margin-bottom: 20rem;
}


.main-wrapper--sections---services----wrapper *{
    background: #F9F5FF;
    color: #120B15;
}

.main-wrapper--sections---services----wrapper > div:nth-child(2){
    margin: 0 4.0625rem;
}

.main-wrapper--sections---services----wrapper > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-wrapper--sections---services----wrapper > div > div{
    width: 26.875rem;
    height: 12.375rem;
}

.main-wrapper--sections---services----wrapper > div > div{
    width: 26.875rem;
    height: 12.375rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 3rem;
}

.main-wrapper--sections---services----wrapper > div > div >div{
    width: 18.75rem;
}

.main-wrapper--sections---services----wrapper > div > p{
    width: 23.125rem;
    height: 4.5rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.main-wrapper--sections---portfolio----wrapper >div{
    width: 49.6875rem;
    height: 37.5rem;
}

.main-wrapper--sections---portfolio----wrapper *{
    background: #F9F5FF;
    color: #120B15;
}

.main-wrapper--sections---portfolio----wrapper > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-wrapper--sections---portfolio----wrapper > div > div{
    width: 26.875rem;
    height: 12.375rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 3rem;
}

.main-wrapper--sections---portfolio----wrapper > div > div >div{
    width: 18.75rem;
}

.main-wrapper--sections---portfolio----wrapper > div > p{
    width: 23.125rem;
    height: 4.5rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
} 

.main-wrapper--sections---portfolio----wrapper > div:nth-child(2){
    margin-left: 4.0625rem;
}

.main-wrapper--sections---portfolio {
    margin-bottom: ;
}

width: 44.6875rem;
height:13.75rem;